<div class="min-h-screen bg-[#fafafa] text-black font-sans flex select-none">
  
  <aside class="w-64 bg-white border-r border-neutral-100 flex flex-col justify-between shrink-0 h-screen sticky top-0 z-30">
    <div class="flex flex-col">
      <div class="px-8 pt-10 pb-8 border-b border-neutral-50">
        <h1 class="font-serif text-2xl tracking-[0.2em] font-black uppercase text-black " routerLink="/shop"  >RADI</h1>
        <p class="text-[9px] uppercase tracking-[0.3em] text-neutral-400 font-medium mt-1">Admin Portal</p>
      </div>

      <nav class="p-4 space-y-1 mt-6">
        <a 
          routerLink="/admin/overview" 
          routerLinkActive="bg-black text-white" 
          class="flex items-center space-x-3 px-4 py-3.5 text-[11px] uppercase tracking-[0.2em] font-medium text-neutral-500 hover:text-black hover:bg-neutral-50 rounded transition-all duration-200"
        >
          <svg [lucideIcon]="dashboardIcon" class="w-4 h-4 stroke-[1.5]"></svg>
          <span>Overview</span>
        </a>

        <a 
          routerLink="/admin/orders" 
          routerLinkActive="bg-black text-white" 
          class="flex items-center space-x-3 px-4 py-3.5 text-[11px] uppercase tracking-[0.2em] font-medium text-neutral-500 hover:text-black hover:bg-neutral-50 rounded transition-all duration-200"
        >
          <svg [lucideIcon]="ordersIcon" class="w-4 h-4 stroke-[1.5]"></svg>
          <span>Orders</span>
        </a>

        <a 
          routerLink="/admin/inventory" 
          routerLinkActive="bg-black text-white" 
          class="flex items-center space-x-3 px-4 py-3.5 text-[11px] uppercase tracking-[0.2em] font-medium text-neutral-500 hover:text-black hover:bg-neutral-50 rounded transition-all duration-200"
        >
          <svg [lucideIcon]="inventoryIcon" class="w-4 h-4 stroke-[1.5]"></svg>
          <span>Inventory</span>
        </a>

      </nav>
    </div>

    <div class="p-4 border-t border-neutral-100 bg-white">
      <div class="flex items-center justify-between p-3 rounded bg-neutral-50">
        <div class="flex flex-col truncate pr-2">
          <span class="text-[10px] font-bold text-neutral-900 uppercase tracking-wider truncate">Administrator</span>
          <span class="text-[9px] text-neutral-400 font-mono truncate lowercase">{{ adminEmail }}</span>
        </div>
        <button 
          type="button" 
          (click)="handleAdminLogout()" 
          class="text-neutral-400 hover:text-red-700 transition-colors p-1"
          title="Sign Out"
        >
          <svg [lucideIcon]="logoutIcon" class="w-4 h-4 stroke-2"></svg>
        </button>
      </div>
    </div>
  </aside>

  <div class="grow flex flex-col min-w-0 h-screen overflow-y-auto">
    

    <main class="grow p-8 md:p-12 max-w-400 w-full mx-auto bg-[#fafafa]">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>